[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"

# Too old lib must include many security issues.
flask = "==0.1"

[dev-packages]

[requires]
python_version = "3.9"
